@import '../../../../assets/styles/variable.scss';
@import '../../../../assets/styles/style.scss';


.e3-listdemo-link.btn.btn-link {
    display: block;
    text-align: left;
    &:focus {
        outline: 0;
        border: 2px solid #fdd647;
    }
}

.e3-listdemo-link {
    .btn {
        .btnlink {
            display: block;
            text-align: left;
        }
    }
}

.e3-listdemo-item {
    .e3-listdemo-img {
        max-width: $gameDemoImgWidth;
        img { 
            border-radius: 4px;
        }
        .e3-listdemo-next {
            color: #ffffff;
            background-color: $primaryColor;
            border-radius: 3px;
            top: 5px;
            left: 5px;
            font-size: 10px;
            line-height: normal;
            text-transform: uppercase;
        }
        .e3-listdemo-views {
            color: $text-grey;
            background-color: #ffffff;
            border-radius: 3px;
            // bottom: 3px;
            top:75px;
            margin-left:1px;
            left: 5px;
            font-size: 9px;
            line-height: normal;
            text-transform: uppercase;

            @media (max-width: 390px) { 
                top:30px;
                margin-left:1px;

             }
        }
    }
    .e3-listdemo-content {
        padding-left: $xsSpace;
        .e3-demo-title {
            font-size: 13px;
            color:$text-grey-3;
            max-width: 100%;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }
        .e3-listdemo-contentdata{
            color:$text-grey-2;
            font-size: 14px;
            line-height: 18px;
        }
        .e3-listdemo-title {
            font-size: 13px;
            color:$text-grey-3;
            max-width: 100%;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }
        .e3-listbutton-tags {
            .btn-tags {
                font-size: 10px;
                border-radius: 2px;
                background: $text-grey-2;
                color: #FFFFFF;
                text-transform: uppercase;
                height: 17px;
            }
        }

    }
}
@media only screen and  (max-width:389px){
    .h-95px{
        height: 50px;
    }
    .w-112px{
        min-width: 60px;
        max-width: 60px;
    }
}
@media only screen and  (min-width:390px){
    .h-95px{
        height: 95px;
    }
    .w-112px{
        min-width: 112px;
        max-width: 112px; 
    }
}