@import "../../../assets/styles/variable.scss";
@import "../../../assets/styles/mixin.scss";
.nav-tabs{border:0 !important}
.skin{
  background-color: white;
}
.customer-pref-skin .nav-tabs {	
	border-bottom: none !important;
    max-width: 380px;
}
.customer-pref-skin .nav-tabs .nav-item.show .nav-link, .customer-pref-skin .nav-tabs .nav-link {	
    color: #828282 ;
    border-color: #fff #fff #fff !important;
    // text-align: center;
    font-size: 14px !important;
    font-weight: 500 !important;
    text-transform: uppercase;
	// margin: auto;
    line-height: 18px;
}
.customer-pref-skin .nav-tabs .nav-item.show .nav-link, .customer-pref-skin .nav-tabs .nav-link.active {
  color: $primaryColor;
  border-color: transparent transparent $primaryColor;
	border-bottom: none !important;
}
.shadow-box-skins{
  background: #E8E8E8;
  box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  padding:25px;
}
.skins-awards{
  color: #4f4f4f;
}
.cup-bg-awards {
  border-radius: 50px;
  background: #fafafa;
  border: 1px solid #E0E0E0;
  height: 70px;
  width: 70px;
}
.btns-skins {
  border-radius: 20px;
  background-color: #333333 !important;
  border: 1px solid #333333 !important;
  color: white;
}
.btns-skins {
  border-radius: 20px;
  background-color:#333333 !important;
  border: 2px solid #333333 !important;
  color: white;
}
.skinsProfile{
  display: flex;
  flex-direction: row;
  border-top: none;
  border-left: none;
  border-right: none;
  align-items: center;
  justify-content: space-between;
}
.e3-skins-img {
  width: 71px;
  height: 71px;
  border-radius: 50%;
  padding: 5px;
  position: relative;
  margin-right: 15px;
  img {
    // max-height: 90px;
    border-radius: 50%;
    border: 2px solid #E73D2F;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
.profileName{
  font-weight: 500;
font-size: 19px;
line-height: 22px;
color: #333333;
}
.profileSubtitle{
  font-size: 12px;
line-height: 14px;
color: #BFC2CA;
}
@media (max-width:767px){
    .e3-skins-title-container{
      align-items: flex-start;
      margin-left: -30px;
      .e3-skins-title{
        margin-top:10px;
        }
        .e3-skins-logo img{
            top:60%;
        }
        
    }
    .e3-skin-tabs {
       align-items: flex-start;
    }
    .e3-av{
        align-items: center;
    }
    .avatarButton{
      display: none;
    }
    .skinsProfile{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    .mobileSkins{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    .profileSubtitle{
      text-align: center;
    }
    .tabsSkins{
      align-items: center;
      justify-content: center;
    }
    
  }
