@import "../../../../assets/styles/variable.scss";


.e3-article-item {
  
  .e3-article-image {
        padding: 0;
        position: relative;
        min-height: 150px;
        // background: #ccc;
   img{width: 100%;
    border-radius: 0px 10px 10px 10px;
  }
  }
  .e3-article-date {
    display: inline-block;
    background: $primaryColor;
    color: #fff;
    font-size: 13px;
    line-height: 40px;
    padding: 15px 0;
    border-radius: 10px 0px 0px 0px ;
    transform: rotate(-90deg);
    position: absolute;
    /*top: 35px;
    left: -36px;*/
    top: 0px;
    left: 0px;
    writing-mode: tb-rl;
    transform: rotate(-180deg);
  }
  .e3-artcile-social-btn {
    position: absolute;
    right: 0;
    bottom: 0;
  }
  .e3-article-title {
    font-size: 15px;
    font-weight: 600;
  }
  .e3-article-content {
    font-size: 12px;
    color: #333333;
  }
}

.e3-article-side-item {
  display: flex;
  flex-direction: row;
  margin-bottom: 15px;
  .e3-article-side-img {
    img {
      max-width: 60px;
      height: 50px;
      border-radius: 4px;
      margin-right: 10px;
    }
  }
  .e3-article-side-title {
    font-size: 12px;
    margin-bottom: 0;
  }
  .e3-article-side-date {
    line-height: normal;
    color: #828282;;
  }
}

.social-icon img{padding:1px;}

.commentssec.avatarWin {
  max-width: 52px;
  min-width: 52px;
  height: 52px;
  line-height: 52px;
  font-size: 22px;
}




