/* .LiveView{position: absolute; display: flex;
    z-index: 9;
    top: 8px;
    left: 8px;
}
.LiveView .live {background-color: #0a0a0a; color: #fff;
    padding: 1px 5px;
    border-radius: 2px;
    z-index: 9;
    height: 18px;
    font-size: 12px; cursor: pointer;
    margin-right: 5px;
}
.LiveView .MuiChip-root { height: 18px !important;font-size: 11px;padding: 0 !important;cursor: pointer;}
.LiveView, .MuiChip-icon{font-size: 11px !important} */
.happennow .col-3 {
  padding-right: 0;
}
.happennow .moreIcon {
  margin-right: 28px;
  font-size: 20px;
  cursor: pointer;
}
.HappAvatar {
  bottom: 31px;
}
