@import '../../../assets/styles/variable.scss';
@import '../../../assets/styles/style.scss';

.following-people {
  color: var(--primary);
}

.following-people-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-left: -15px;
  margin-right: -15px;
  margin-bottom: 10px;
  position: relative;
  .following-people-img { 
      background: rgb(255, 254, 254);
      border: 1px solid #e6e6e6;
      position: relative;
      width: 43px;
      height: 43px;
      margin-bottom: 0;
      line-height: normal;
      top: 7px;
      img { 
          border-radius: 50%;
      }
  }
  .e3-people-content {
    width: 100%;
    padding-left: $baseSpace;
    .e3-people-name {
        margin-bottom: 0;
        font-size: 13px;
        color:$sideNavHeaderColor;
        max-width: 100%;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }
 }
.e3-people-tags {
    .badge {
        margin-right: 4px;
        border-radius: 2px;
        background: #D4D4D4;
        color: #333333;
        text-transform: uppercase;
    }
 }
}

.figure_act {
  .following-people-img {
      border-radius: 50%;
      text-align: center;
      line-height: 43px;
      background: #FFFFFF;
      color:#0e0e10;
  }
}