.YourFavoriteEvents,
.MuiBox-root-106 .MuiBox-root-108 {
  font-size: 11px;
  line-height: 11px;
}
.YourFavoriteEvents .MuiSvgIcon-root {
  font-size: 12px;
}
.popularAvtar {
  position: relative;
  color: black;
  margin-top: 7px;
}
.popularevent .text-sm {
  line-height: 9px;
}
