.Booths .col-2 {
  padding-right: 0;
  position: relative;
}
.Booths .Microsoft {
  position: relative;
  background-color: #0000006b;
  color: #fff;
  text-align: center;
  font-size: 14px;
  height: 41px !important;
  line-height: 41px;
  margin-top: -41px;
}
