@import '../styles/variable.scss';

  @mixin btn-primary {
    background-color: $primaryColor;
    border: 2px solid $primary-border;
    height: $btn-height;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    border-radius: 123px;

    &:hover {
      border: 2px solid $secondaryColor;
      color: #fff;
    }
    &:focus {
      border: 2px solid $secondaryColor;
      box-shadow: none;
    }
  }
  @mixin btn-black {
    background-color: $blackColor;
    border: 2px solid $blackColor;
    height: $btn-height;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    border-radius: 123px;

    &:hover {
      border: 2px solid $blackColor;
      color: #fff;
    }
    &:focus {
      border: 2px solid $blackColor;
      box-shadow: #000000;
    }
  }
  @mixin btn-green {
    background-color: $color-green;
    border: 2px solid $color-green_border;
    height: $btn-height;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    border-radius: 123px;

    &:hover {
      border: 2px solid $color-green;
      color: #fff;
    }
  }
  @mixin btn-secondary {
    background-color: $secondaryColor;
    border: 2px solid $secondaryColor;
    height: $btn-height;
    color: #160029 !important;
    font-size: 14px;
    border-radius: 123px;
    font-weight: 500;
    
    &:hover {
      border: 2px solid $primaryColor;
      color: #160029;
    }
    &:focus {
      border: 2px solid $primaryColor;
      color: #160029;
      box-shadow: none;
    }
    &:active {
      box-shadow: none;
      border: 2px solid $secondaryColor;
      color: #160029 !important;
    }
  }
  @mixin btn-light{width: 230px; height:51px; border-radius: 160px; font-weight: 400; color:#333333; 
  outline: none !important;
  box-shadow: none !important;}
  
  .btn.focus, .btn:focus {
    box-shadow: none;
  }