
$baseFontFamily: 'Roboto', sans-serif;
$color-white:#FFFFFF!important;
$primaryColor: #e73d2f !important;
$primary-border: #e73d2f !important;
$secondaryColor: #fdd647 !important;
$secondaryColor: #fdd647 !important;
$color-pink-light:#FEF1F0 !important;
$color-green:#219653 !important;
$color-green-2:#1E8549 !important;
$color-red-1:#EB5757 !important;
$text-grey:#333333 !important;
$text-grey-2:#4F4F4F !important;
$text-grey-3:#828282 !important;
$text-grey-4:#BDBDBD !important;
$blackColor: #0E0E10 !important;
$blackColor_fullblack: #000000 !important;
$text-yellow-1:#F2C94C !important;
$color-green_border: #219653 !important;
$successColor:#1E8549;
$btn-height: 51px;
$fontSizeLogin: 20px;
$primary-orange-bgcolor: orange !important;
$primary-btn-fgcolor: blue !important;
$gray-light:#E0E0E0 !important;
$xsSpace: 10px;
$baseSpace: 15px;

$headerHeight: 65px;
$sideNavBg: #0E0E10;
$sideNavWidth: 230px;
$sideNavSpacing: $baseSpace;
$sideNavHeaderColor: #C8C8C8;

$mainContenSpacing: $baseSpace * 2;

$scheduleImgWidth: 84px;
$gameDemoImgWidth: 117px;
// $startLaterImgWidth:50px;
